{"FileSecurity":{"FileSecurityProtections":[{"MultiLevelArchiveAction":"Inactive","UnopenedArchiveAction":"Inactive","action":"Disabled","allowFilesWithoutName":false,"archiveFileSizeLimit":10485760,"assetId":"accba5ff-9064-a140-5b36-b124bd35d771","assetName":"web_appsec","context":"assetId(accba5ff-9064-a140-5b36-b124bd35d771)","exceptions":"","fileSizeLimit":10485760,"fileSizeLimitAction":"Inactive","fileTypes":[],"filesWithoutNameAction":"Inactive","highConfidence":"Inactive","lowConfidence":"Detect","mediumConfidence":"Inactive","practiceId":"e8cba577-30fb-e174-75fb-79afac3db0c8","practiceName":"WEB APPLICATION BEST PRACTICE","requiredArchiveExtraction":false,"requiredFileSizeLimit":false,"ruleName":"web_appsec","severityLevel":"Medium or above","triggers":"aecba577-2fdd-c6ca-0b17-6b2936a062f2"}]}}