{"rulebase":{"log":[{"acAllow":false,"acDrop":true,"complianceViolations":true,"complianceWarnings":true,"context":"triggerId(aecba577-2fdd-c6ca-0b17-6b2936a062f2)","extendLogging":true,"extendLoggingMinSeverity":"High","logToAgent":false,"logToCef":false,"logToCloud":true,"logToSyslog":false,"responseBody":false,"responseCode":true,"tpDetect":true,"tpPrevent":true,"triggerName":"Log Trigger","triggerType":"log","verbosity":"Standard","webBody":false,"webHeaders":false,"webRequests":false,"webUrlPath":true,"webUrlQuery":true}],"webUserResponse":[{"context":"triggerId(aacba577-3000-7980-b35d-b9d0fbdc94ee)","details level":"Block Page","response body":"Check Point's CloudGuard WAF has detected an attack and blocked it","response code":403,"response title":"Attack blocked by web application protection","triggerName":"Web User Response"}]}}